<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录异常403</title>
</head>
<body onload="getUrlFunction()">
<h1 id="e_msg">【如果您是学员，请进入飞鸟学堂e-learning系统】<br>【您暂无用户权限，请联系管理员。】</h1>
<script>
    var xmlhttp;
    //异步请求函数
    function xmlhttpFunction(url, cfunc) {
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = cfunc;
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    //登录无权限3s后跳转入飞鸟e-learning系统
    function getUrlFunction() {
        resizeView();
        //异步请求自动跳转url
        xmlhttpFunction("/ele_tom/services/sso/logout", function () {
            if (xmlhttp.readyState == XMLHttpRequest.DONE &&xmlhttp.status == 200) {
                window.setTimeout(function () {
                    if (xmlhttp.responseText != "") {
                        window.location.href = xmlhttp.responseText;
                    }else {
                        alert("获取自动跳转url异常");
                    }
                }, 3000);
            }
        });
    }
    
    function resizeView() {{//浏览器窗口大小改变
        var window_height = window.innerHeight;//窗口内容显示区高度
        var e_msg= Document.getElementById("e_msg");
        console.log("window_height:", window_height);
        if (e_msg) {
            e_msg.style.height = "88px";
            e_msg.style.marginTop = ((window_height - 88) < 0 ? 0  : (window_height - 88 ) / 2) + 'px';
            e_msg.style.marginBottom = "0";
            e_msg.style.textAlign = "center";
        }

        window.onresize  = resizeView();
    }
</script>
</body>
</html>